//---------------------------------------------------------------------------------------------
//  Artwork
//---------------------------------------------------------------------------------------------
    .artwork-container{ }

    .artwork-holder{
      max-width: 70vh;
      margin: 0 auto 1em;
      > img{ 
        max-width: 100%;
        max-height: 70vh;
        margin: 0 auto;
      }
    }

    .artwork-details, .artwork-conveyor ul{ > li{ display: inline; }}

    .artwork-details{
      text-align: right;
      li:after{ content: " /"; }
      li:last-child:after { content: none; }
    }

    .artwork-conveyor{
      &:before{
        display: block;
        content: attr(data-aspectratio);
      }
      ul{
        overflow-x:scroll;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        margin-bottom: $gutter;
      }
    }

    .artwork-link{
      display: inline-block;
      margin-right: $gutter;
      &:last-child{ margin-right: 0; }
    }

    .artwork-link > a > img{ width: $cols3; }
    @media (min-width: $cols5)  { .artwork-link > a > img{ width: ($cols5  / 2) - ($gutter * .5    )/$em; }}
    @media (min-width: $cols6)  { .artwork-link > a > img{ width: ($cols6  / 2) - ($gutter * .5    )/$em; }}
    @media (min-width: $cols9)  { .artwork-link > a > img{ width: ($cols9  / 3) - ($gutter * .667  )/$em; }}
    @media (min-width: $cols10) { .artwork-link > a > img{ width: ($cols10 / 4) - ($gutter * .75   )/$em; }}
    @media (min-width: $cols18) { .artwork-link > a > img{ width: ($cols18 / 6) - ($gutter * 1.334 )/$em; }}
    @media (min-width: $cols27) { .artwork-link > a > img{ width: ($cols27 / 9) - ($gutter * 2.667 )/$em; }}



