//---------------------------------------------------------------------------------------------
//  Artwork
//---------------------------------------------------------------------------------------------
    .artwork-container{ }

    .artwork-holder{
      max-width: 70vh;
      margin: 0 auto 1em;
      > img{ 
        max-width: 100%;
        max-height: 70vh;
        margin: 0 auto;
      }
    }

    .artwork-details, .artwork-conveyor ul{ > li{ display: inline; }}

    .artwork-details{
      text-align: right;
      li:after{ content: " /"; }
      li:last-child:after { content: none; }
    }

    .artwork-conveyor{
      position: relative;
      ul{
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        margin-bottom: $gutter;
        white-space: nowrap;
      }

      &:hover{ .prev, .next{ opacity: 1; }}

      .prev, .next{
        position: absolute;
        top: ($cols3 - 1.5em) / 2;
        display: inline-block;
        width: $cols1/2 ; height: $cols1/2;
        border-top:  6px white solid;
        border-left: 6px white solid;
        opacity: 0;
        transition: opacity .5s cubic-bezier(1.000, 0.000, 0.000, 1.000);
      }
      .prev{ left:  - $cols1/2; transform: rotate(-45deg); }
      .next{ right: - $cols1/2; transform: rotate(135deg);}
    }

    .artwork-link{
      position: relative;
      transform: translateY( - ($cols3 + $gutter/$em) );
      display: inline-block;
      margin-right: $gutter;
      &:last-child{ margin-right: 0; }
    }

    .artwork-link > a > img{ width: $cols3; }

    @media (min-width: $cols5)  { .artwork-link > a > img{ width: ($cols5  / 2) - ($gutter * .5    )/$em; }}
    @media (min-width: $cols6)  { .artwork-link > a > img{ width: ($cols6  / 2) - ($gutter * .5    )/$em; }}
    @media (min-width: $cols9)  { .artwork-link > a > img{ width: ($cols8  / 3) - ($gutter * .667  )/$em; }}
    @media (min-width: $cols10) { .artwork-link > a > img{ width: ($cols9 / 4) - ($gutter * .75   )/$em; }}
    @media (min-width: $cols18) { .artwork-link > a > img{ width: ($cols17 / 6) - ($gutter * 1.334 )/$em; }}
    @media (min-width: $cols27) { .artwork-link > a > img{ width: ($cols26 / 9) - ($gutter * 2.667 )/$em; }}



