//---------------------------------------------------------------------------------------------
//  Artwork
//---------------------------------------------------------------------------------------------
    .artwork-container{ }

    .artwork-holder{
      max-width: 70vh;
      margin: 0 auto 1em;
      > img{ 
        max-width: 100%;
        max-height: 70vh;
        margin: 0 auto;
      }
    }

    .artwork-details, .artwork-conveyor ul{ > li{ display: inline; }}

    .artwork-details{
      text-align: right;
      li:after{ content: " /"; }
      li:last-child:after { content: none; }
    }

    .artwork-conveyor{
      ul{
        overflow-x:scroll;  
        white-space: nowrap;
        margin-bottom: 1em;
      }
      &:before{
        display: block;
        content: attr(data-aspectratio);
      }
    }

    .artwork-link{ 
      display: inline-block;
      width:  $cols2;
      height: $cols2;
      margin: 0 .5em;
    }
    .artwork-link > img{ 
      max-width: 100%;
    }










