//---------------------------------------------------------------------------------------------
//  Artwork
//---------------------------------------------------------------------------------------------
    .artwork-holder, .artwork-conveyor{
      margin-bottom: 1em;
    }

    .artwork-holder > img{ max-width: 100%; }

    .artwork-details{
      font-size: .75em;
      text-align: right;
      li{ display: inline; }
    }

    .artwork-conveyor{
      &:before{
        display: block;
        content: attr(data-aspectratio);
      }
      > li { display: inline; }
    }


    table{
      width: 100%;
      text-align: left;
      border: 1px $grey-med solid;
      background: white;
      td, th{ padding: .25em; }
    }