//---------------------------------------------------------------------------------------------
//  Contact
//---------------------------------------------------------------------------------------------
    .contact-email{
      text-align: center;
      font-size: 2.25vw;
      //margin-top: .5em;
      h1{ font-size: 2em; }
      ul{
        margin-top: 3.5em;
      }
      a{ color: #333; }
      .pink{
        color: $pink;
      }
    }

    .svg-container svg{ max-height: 50vh; margin: 0 auto; }
    .no-touch{
        .svg-blobs{
          filter:url("#fancy-goo");
        }
        .svg-poly{  }
        .svg-circ1{ animation: drip1 3.3s infinite cubic-bezier(1.000, -0.070, 0.680, 0.530); }
        .svg-circ2{ animation: drip2 2.1s infinite cubic-bezier(1.000, -0.070, 0.680, 0.530); }
        .svg-circ3{ animation: drip3 2.9s infinite cubic-bezier(1.000, -0.070, 0.680, 0.530); }

        @keyframes drip1{ 100%{ opacity: 0; transform: translateY(200px); }}
        @keyframes drip2{ 100%{ opacity: 0; transform: translate( 30px, 200px); }}
        @keyframes drip3{ 100%{ opacity: 0; transform: translate(-30px, 200px); }}
    }