//---------------------------------------------------------------------------------------------
//  Index
//---------------------------------------------------------------------------------------------

.img_holder{
  background: $grey-med;
  position: relative;
  overflow: hidden;

  > img{
    width: 100%;
    position: absolute;
    top:  0;
    left: 0;
  }

}


@media (min-width: $cols5)  { .img_holder { width: $cols5;  height: $cols5  * 0.5833333;  }}
@media (min-width: $cols6)  { .img_holder { width: $cols6;  height: $cols6  * 0.5833333;  }}
@media (min-width: $cols9)  { .img_holder { width: $cols8;  height: $cols8  * 0.5833333;  }}
@media (min-width: $cols10) { .img_holder { width: $cols9;  height: $cols9  * 0.5833333;  }}
@media (min-width: $cols13) { .img_holder { width: $cols12; height: $cols12 * 0.5833333; }}
@media (min-width: $cols15) { .img_holder { width: $cols14; height: $cols14 * 0.5833333; }}
@media (min-width: $cols18) { .img_holder { width: $cols17; height: $cols17 * 0.5833333; }}
