//---------------------------------------------------------------------------------------------
//  Index
//---------------------------------------------------------------------------------------------

.home{

  h1{
    font-size: 2em;
    line-height: 1.5em;
  }

  date{ display: none; }
  
  .img_holder, .img_bg, .img img{ height: 85vmin; }
  .img_bg, .img {    width:  100%; }

  .img_holder{ 
    overflow: hidden;
    width: 100%;
  }
  .img_bg{
    margin-bottom: -85vmin;
    background-size: 100%;
    filter: blur(6px) grayscale(75%) brightness(80%);
  }
  .img{
    text-align: center;
    position: absolute; 
  }
  img{
    // max-width:  60vmin;
  }

  p{ background: white; padding: .5em;}

}