/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//fonts.googleapis.com/css?family=Ubuntu);
/* line 6, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/reset.scss */
body {
  line-height: 1;
}

/* line 34, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 15, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/colors.css.scss */
html {
  background: #f0f0f0;
}

/* line 17, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/colors.css.scss */
body {
  color: #a8a8a8;
}

/* line 18, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/colors.css.scss */
a {
  color: #d3d3d3;
}

/* line 20, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/colors.css.scss */
.header > h1 > a {
  color: #d3d3d3;
}

/* line 23, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/colors.css.scss */
.nav-link .current, .nav-link .current:hover, .nav-link .current .vowel {
  color: #7e7e7e;
}
/* line 24, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/colors.css.scss */
.nav-link a:hover, .nav-link .vowel {
  color: #a8a8a8;
}
/* line 25, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/colors.css.scss */
.nav-link:after {
  color: #d3d3d3;
}
/* line 26, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/colors.css.scss */
.nav-link .admin {
  color: #ed1d7a;
}

/* line 29, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/colors.css.scss */
.footer {
  color: #999;
  background: #e0e0e0;
}

/* line 7, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/typography.css.scss */
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}

/* line 11, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/typography.css.scss */
body {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
/* line 17, /Users/john/Sites/JerkVer2/app/assets/stylesheets/base/typography.css.scss */
body a {
  text-decoration: none;
}

/* line 5, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 6, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
html, body {
  height: 100%;
}

/* line 7, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
img {
  vertical-align: middle;
}

/* line 9, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 14, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.header > h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}
/* line 17, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.header > h1:after {
  content: url(https://s3.amazonaws.com/jerkfacev2/static/drip.svg);
  display: inline-block;
  width: 1em;
  position: absolute;
  margin: .125em 0 0 .25em;
}

/* line 27, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.nav-link > a {
  text-transform: uppercase;
  font-size: .75em;
  -webkit-transition: all 0.25s cubic-bezier(1, -0.195, 0, 1.215);
          transition: all 0.25s cubic-bezier(1, -0.195, 0, 1.215);
}
/* line 31, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.nav-link > a .vowel {
  display: inline-block;
  -webkit-transition: all 0.5s cubic-bezier(1, -0.195, 0, 1.215);
          transition: all 0.5s cubic-bezier(1, -0.195, 0, 1.215);
  opacity: 0;
}
/* line 36, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.nav-link > a.current .vowel {
  opacity: 1;
}
/* line 39, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.nav-link > a:hover .vowel {
  opacity: 1;
}

/* line 42, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.container[role="main"] {
  margin: 0 auto 2em;
  min-height: 100vh;
  width: 12em;
}

/* line 50, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.footer {
  line-height: 1.5em;
}
/* line 52, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.footer > p {
  font-size: .75em;
  text-align: right;
  margin-right: .5em;
}

@media (max-width: 335px) {
  /* line 65, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .header {
    margin-bottom: 1em;
  }
  /* line 66, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .header > h1 {
    line-height: 1.5em;
  }

  /* line 69, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .nav-link {
    text-align: center;
    line-height: 1em;
  }
}
@media (min-width: 21em) {
  /* line 73, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"] {
    width: 21em;
  }

  /* line 74, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .header {
    line-height: 2em;
  }

  /* line 75, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .nav-link {
    display: inline;
  }
  /* line 76, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .nav-link:after {
    content: " /";
  }
  /* line 79, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .nav-link:last-child:after {
    content: none;
  }
}
@media (min-width: 25.5em) {
  /* line 84, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"] {
    width: 25.5em;
  }
}
@media (min-width: 39em) {
  /* line 88, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"] {
    width: 34.5em;
  }

  /* line 89, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1em;
  }

  /* line 90, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .header > h1 {
    -webkit-transform: translateX(-24px);
        -ms-transform: translateX(-24px);
            transform: translateX(-24px);
  }
}
@media (min-width: 43.5em) {
  /* line 93, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"] {
    width: 39em;
  }
}
@media (min-width: 75em) {
  /* line 96, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"] {
    width: 70.5em;
  }
}
@media screen and (min-width: 7.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols2";
  }
}
@media screen and (min-width: 12em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols3";
  }
}
@media screen and (min-width: 16.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols4";
  }
}
@media screen and (min-width: 21em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols5";
  }
}
@media screen and (min-width: 25.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols6";
  }
}
@media screen and (min-width: 30em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols7";
  }
}
@media screen and (min-width: 34.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols8";
  }
}
@media screen and (min-width: 39em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols9";
  }
}
@media screen and (min-width: 43.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols10";
  }
}
@media screen and (min-width: 48em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols11";
  }
}
@media screen and (min-width: 52.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols12";
  }
}
@media screen and (min-width: 57em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols13";
  }
}
@media screen and (min-width: 61.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols14";
  }
}
@media screen and (min-width: 66em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols15";
  }
}
@media screen and (min-width: 70.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols16";
  }
}
@media screen and (min-width: 75em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols17";
  }
}
@media screen and (min-width: 79.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols18";
  }
}
@media screen and (min-width: 84em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols19";
  }
}
@media screen and (min-width: 88.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols20";
  }
}
@media screen and (min-width: 93em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols21";
  }
}
@media screen and (min-width: 97.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols22";
  }
}
@media screen and (min-width: 102em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols23";
  }
}
@media screen and (min-width: 106.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols24";
  }
}
@media screen and (min-width: 111em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols25";
  }
}
@media screen and (min-width: 115.5em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols26";
  }
}
@media screen and (min-width: 120em) {
  /* line 108, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
  .container[role="main"]:before {
    content: "cols27";
  }
}
/* line 111, /Users/john/Sites/JerkVer2/app/assets/stylesheets/layout.css.scss */
.container[role="main"]:before {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 .5em;
  color: #ed1d7a;
}

/* line 5, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-holder {
  max-height: 70vmin;
  max-width: 70vmin;
  margin: 0 auto 2em;
}
/* line 9, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-holder.loading {
  background-image: url(https://s3.amazonaws.com/jerkfacev2/static/load.svg);
  background-position: left 50% bottom 50%;
}
/* line 12, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-holder.loading > img {
  opacity: 0;
}
/* line 14, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-holder > img {
  max-height: 70vmin;
  max-width: 70vmin;
  opacity: 1;
  -webkit-transition: opacity .5s;
          transition: opacity .5s;
}
/* line 22, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-holder .artwork-details {
  font-size: .7em;
  text-align: right;
}
/* line 25, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-holder .artwork-details > li {
  display: inline;
}
/* line 27, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-holder .artwork-details > li:after {
  content: " /";
}
/* line 28, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-holder .artwork-details > li:last-child:after {
  content: none;
}

/* line 35, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.touch .artwork-conveyor > ul {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

/* line 41, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.no-touch .artwork-conveyor:hover .prev.active, .no-touch .artwork-conveyor:hover .next.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
/* line 42, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.no-touch .artwork-conveyor > ul {
  overflow: hidden;
  -webkit-transition: all 1s;
          transition: all 1s;
}

/* line 48, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-conveyor {
  position: relative;
  overflow: hidden;
  width: auto;
  margin-bottom: 24px;
}
/* line 54, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-conveyor > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
/* line 59, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-conveyor .prev {
  left: 0;
  -webkit-transform: translateX(-1.5em);
      -ms-transform: translateX(-1.5em);
          transform: translateX(-1.5em);
}
/* line 60, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-conveyor .next {
  right: 0;
  -webkit-transform: translateX(1.5em);
      -ms-transform: translateX(1.5em);
          transform: translateX(1.5em);
}
/* line 62, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-conveyor .prev, .artwork-conveyor .next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0 .5em;
  background: rgba(245, 245, 245, 0.9);
  color: #1eb1d7;
  font-size: 2em;
  -webkit-transition: -webkit-transform .25s;
          transition: transform .25s;
  cursor: pointer;
  height: 100%;
  display: table;
}

/* line 78, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-link {
  margin-right: 24px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
/* line 81, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-link > a {
  display: block;
  background-color: #d3d3d3;
}
/* line 84, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-link > a.loading {
  background-image: url(https://s3.amazonaws.com/jerkfacev2/static/load.svg);
}
/* line 86, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-link > a.loading > img {
  opacity: 0;
  -webkit-transition: opacity .5s;
          transition: opacity .5s;
}
/* line 88, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-link > a > img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity .5s;
          transition: opacity .5s;
}

/* line 96, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
.artwork-conveyor .prev, .artwork-conveyor .next {
  line-height: 12em;
}

@media (min-width: 21em) {
  /* line 98, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
  .artwork-link > a {
    width: 9.75em;
    height: 9.75em;
  }
}
@media (min-width: 25.5em) {
  /* line 99, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
  .artwork-link > a {
    width: 12em;
    height: 12em;
  }
}
@media (min-width: 39em) {
  /* line 100, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
  .artwork-link > a {
    width: 10.4995em;
    height: 10.4995em;
  }
}
@media (min-width: 43.5em) {
  /* line 101, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
  .artwork-link > a {
    width: 8.625em;
    height: 8.625em;
  }
}
@media (min-width: 79.5em) {
  /* line 102, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
  .artwork-link > a {
    width: 10.499em;
    height: 10.499em;
  }
}
@media (min-width: 120em) {
  /* line 103, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/artwork.scss */
  .artwork-link > a {
    width: 8.83283em;
    height: 8.83283em;
  }
}
/* line 4, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/contact.css.scss */
.contact-email {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 1em;
}

/* line 4, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/index.css.scss */
.svg-container {
  width: 50%;
  max-height: 50vh;
  margin: 0 auto;
}

/* line 5, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
#instafeed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 10, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
#instafeed a {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}
/* line 15, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
#instafeed a:hover:before, #instafeed a:hover:after {
  opacity: 0;
  -webkit-transition: opacity .25s;
          transition: opacity .25s;
}
/* line 16, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
#instafeed a:before, #instafeed a:after {
  color: white;
  background: rgba(58, 58, 50, 0.9);
  padding: .25em;
  opacity: 1;
  -webkit-transition: opacity 5s;
          transition: opacity 5s;
}
/* line 23, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
#instafeed a:before {
  padding: 1em;
  content: attr(data-caption);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 31, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
#instafeed a:after {
  content: attr(data-likes);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2em;
}
/* line 38, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
#instafeed img {
  width: 12em;
}

/* line 41, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
#load-more {
  border: none;
  border-radius: 0;
  margin: 0 auto;
  width: 7.5em;
  color: #a8a8a8;
  background: #d3d3d3;
  font-size: 2em;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 21em) {
  /* line 56, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
  #instafeed img {
    width: 9.75em;
  }
}
@media (min-width: 25.5em) {
  /* line 57, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
  #instafeed img {
    width: 12em;
  }
}
@media (min-width: 39em) {
  /* line 58, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
  #instafeed img {
    width: 16.5em;
  }
}
@media (min-width: 43.5em) {
  /* line 59, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
  #instafeed img {
    width: 11.9995em;
  }
}
@media (min-width: 79.5em) {
  /* line 60, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
  #instafeed img {
    width: 22.4995em;
  }
}
@media (min-width: 120em) {
  /* line 61, /Users/john/Sites/JerkVer2/app/assets/stylesheets/pages/instagram.css.scss */
  #instafeed img {
    width: 8.83283em;
  }
}
/* line 5, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin {
  color: #7e7e7e;
  background: white;
  padding: 0 1em 1em;
  border: 1px #d3d3d3 solid;
  border-radius: 2px;
}
/* line 12, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: .5em;
}
/* line 13, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin h2 {
  font-size: 1.25em;
  line-height: 1.25em;
}
/* line 15, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin ul {
  padding: 0 1em 1em;
}
/* line 17, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin table {
  width: 100%;
  text-align: left;
  background: white;
  border: 1px solid #d3d3d3;
  margin-bottom: 1em;
}
/* line 23, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin table td, section.admin table th {
  padding: .25em;
  border-bottom: 1px #f0f0f0 dotted;
  border-top: 1px solid #ddd;
  padding: 4px 8px;
  vertical-align: middle;
}
/* line 30, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin table th {
  color: #7e7e7e;
  background: #f0f0f0;
  font-size: 1.125em;
}
/* line 34, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin table th.category {
  text-align: center;
}
/* line 36, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin table td {
  font-size: .9em;
}
/* line 40, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin a {
  color: #1eb1d7;
}
/* line 42, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin a.logout {
  display: block;
  color: #ed1d7a;
  text-align: right;
}
/* line 48, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
section.admin label {
  display: inline-block;
  width: 7.5em;
}

/* line 64, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
#crop-holder {
  display: block;
}

/* line 66, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
#crop-preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

/* line 76, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
.crop-holder {
  width: 950px;
  margin: 0 auto;
}
/* line 79, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
.crop-holder > img {
  width: 950px;
}

@media (max-width: 39em) {
  /* line 89, /Users/john/Sites/JerkVer2/app/assets/stylesheets/admin.css.scss */
  section.admin .year,
  section.admin .medium {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }
}
/* jquery.Jcrop.css v0.9.12 - MIT License */
/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
/* line 11, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-holder {
  direction: ltr;
  text-align: left;
  margin-bottom: 1.5em;
}

/* Selection Border */
/* line 17, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-vline,
.jcrop-hline {
  background: #ffffff url("https://s3.amazonaws.com/jerkfacev2/static/Jcrop.gif");
  font-size: 0;
  position: absolute;
}

/* line 23, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-vline {
  height: 100%;
  width: 1px !important;
}

/* line 27, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-vline.right {
  right: 0;
}

/* line 30, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-hline {
  height: 1px !important;
  width: 100%;
}

/* line 34, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-hline.bottom {
  bottom: 0;
}

/* Invisible click targets */
/* line 38, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none;
}

/* Selection Handles */
/* line 49, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
}

/* line 56, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}

/* line 62, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
}

/* line 68, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%;
}

/* line 74, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
}

/* line 80, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}

/* line 86, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0;
}

/* line 92, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0;
}

/* line 98, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
}

/* Dragbars */
/* line 105, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%;
}

/* line 110, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px;
}

/* line 115, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-dragbar.ord-n {
  margin-top: -4px;
}

/* line 118, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px;
}

/* line 122, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0;
}

/* line 126, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-dragbar.ord-w {
  margin-left: -4px;
}

/* The "jcrop-light" class/extension */
/* line 130, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}

/* line 136, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px;
}

/* The "jcrop-dark" class/extension */
/* line 144, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}

/* line 150, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px;
}

/* Simple macro to turn off the antlines */
/* line 158, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
  background: #ffffff;
}

/* Fix for twitter bootstrap et al. */
/* line 163, /Users/john/Sites/JerkVer2/app/assets/stylesheets/cropper.css.scss */
.jcrop-holder img,
img.jcrop-preview {
  max-width: none;
}
