//---------------------------------------------------------------------------------------------
//  Colors
//---------------------------------------------------------------------------------------------

  $grey-light: #f0f0f0;
  $grey-med:   #a0a09e;
  $grey-dark:  #555;

  $blue:       #1eb1d7; 
  $pink:       #ed1d7a;
  $green:      #b9d548;
  $yellow:     #fdf235;

  html { background: $grey-light; }

  body{ color: $grey-dark; }
  a{    color: $grey-med;  }

  .nav-link{
    .current{ color: $grey-dark; }
    a:hover { color: $grey-dark; }
    &:after { color: $grey-med;  }
    .vowel  { color: $grey-dark; }
  }

  .footer{
    color: #999;
    background: #e0e0e0;
  }