//---------------------------------------------------------------------------------------------
//  Colors
//---------------------------------------------------------------------------------------------

  $grey-light: #f0f0f0;
  $grey-med:   #a0a09e;
  $grey-dark:  #555;

  $blue:       #1eb1d7; 
  $pink:       #ed1d7a;
  $green:      #b9d548;
  $yellow:     #fdf235;