//---------------------------------------------------------------------------------------------
//  Typography
//---------------------------------------------------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body,
input,
button  {-webkit-font-smoothing: antialiased; }

body{ 
  font-size: 16px / $em;
  line-height: 24px / $em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  a{ 
    text-decoration: none;
    text-transform: uppercase;
  }
}