.jerkbox

  %a.close Close
  %a.prev &laquo;
  %a.next &raquo;

  .jerkbox-img
    %img{ src: 'https://s3.amazonaws.com/jerkfacev2/uploads/test/artwork/large_Krangwad_12x12.jpg'}

  %ul.jerkbox-details
    %li.title Title
    %li.size Size
    %li.year Year
    %li.medium Medium
