.artwork-holder
  %img{ src: 'adfasdf' }
  %ul.artwork-details
    %li.artwork-title  The Good Doctor
    %li.artwork-size   12 X 12
    %li.artwork-medium Acrylic on Canvas
    %li.artwork-year   2014

%ul.conveyor
  - (1..4).each do |i|
    %li #{i}
