- @categories.each do |category| 
  - if category.artworks.any?

    %h2= category.name

    .artwork-conveyor{ class: category.name }
      - if category.artworks.count > 2
        %a.toggle.prev &laquo;
        %a.toggle.next &raquo;

      %ul.is-set
        - category.artworks.each_with_index do |artwork, index|
          %li.artwork-link{ class: ('is-ref' if index==category.artworks.length-1)}
            %a.loading{ href: artwork.image_url(:large).to_s, data: { title: artwork.title, year: artwork.year, medium: artwork.medium, size: category.name.to_s }}
              %img{ src: artwork.image_url(:thumb).to_s, alt: artwork.title}