- @categories.each do |category| 
  - if category.artworks.any?

    / %h2= category.name

    %div{ class: (category.artworks.count < 777 ? 'artwork-list' : 'artwork-conveyor') }
      - if category.artworks.count > 666
        %a.toggle.prev &laquo;
        %a.toggle.next &raquo;

      / %ul.is-set
      %ul
        - category.artworks.each_with_index do |artwork, index|
          %li.artwork-link{ class: ('is-ref' if index==category.artworks.length-1)}
            %a.loading{ href: artwork.image_url(:large).to_s, data: { title: artwork.title, year: artwork.year, medium: artwork.medium, size: category.name.to_s }}
              %img{ src: artwork.image_url(:thumb).to_s, alt: artwork.title}


%template#jerkbox
  .jerkbox
    %a.prev &laquo;
    .jerkbox-img
      %a.close X
      %img{ src: 'https://s3.amazonaws.com/jerkfacev2/uploads/test/artwork/large_Krangwad_12x12.jpg'}
      %ul.jerkbox-details
        %li.title Title
        %li.size Size
        %li.year Year
        %li.medium Medium
    %a.next &raquo;