#instafeed

:javascript
  var instaFeed = new Instafeed({
      get: 'tagged',
      tagName: 'jerkfacenyc',
      userId: 46255315,
      accessToken: '408253310.1677ed0.c650b85839fd45c38dc5af6d5ce1db41',
      target: 'instafeed',
      limit: 24
  }); instaFeed.run();