//---------------------------------------------------------------------------------------------
//  Instagram
//---------------------------------------------------------------------------------------------

#instafeed{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  a{ 
    position: relative;
    overflow: hidden;
    margin-bottom: $gutter;

    &:hover:before, &:hover:after{ opacity: 0; transition: opacity .25s; }
    &:before, &:after{
      position: absolute;
      z-index: 1000;
      color: white;
      background: rgba(58,58,50,.9);
      padding: .25em;
      opacity: 1;
      transition: opacity 5s;
    }
    &:before{ 
      padding: 1em;
      content: attr(data-caption); 
      display: block;
      width: 100%;
      height: 100%;
    }
    &:after{ 
      content: attr(data-likes); 
      bottom:0; right:0;
      font-size: 2em;
    }
    &:hover img{ filter: grayscale(0); }
    img{         filter: grayscale(1); transition: all .25s; }
  }
  img{ width: $cols3; }
}

#load-more{
  border: none;
  border-radius: 0;
  margin: 0 auto;
  width: $cols2;
  color: $grey-dark;
  background: $grey-med;
  font-size: 2em;
  width: 100%;
  cursor: pointer;

}

// Media Queries

@media (min-width: $cols5)  { #instafeed img{ width: ($cols5  / 2) - ($gutter * .5    )/$em; }}
@media (min-width: $cols6)  { #instafeed img{ width: ($cols6  / 2) - ($gutter * .5    )/$em; }}
@media (min-width: $cols9)  { #instafeed img{ width: ($cols8  / 2) - ($gutter * .5    )/$em; }}
@media (min-width: $cols10) { #instafeed img{ width: ($cols9  / 3) - ($gutter * .667  )/$em; }}
@media (min-width: $cols13) { #instafeed img{ width: ($cols12 / 4) - ($gutter * .75   )/$em; }}
@media (min-width: $cols15) { #instafeed img{ width: ($cols14 / 4) - ($gutter * .75   )/$em; }}
@media (min-width: $cols18) { #instafeed img{ width: ($cols17 / 5) - ($gutter * 1.5   )/$em; }}
@media (min-width: $cols27) { #instafeed img{ width: ($cols26 / 9) - ($gutter * 2.667 )/$em; }}
