//--------------------------------------------------------
//  Jerkbox lightbox
//-----------------------------------------------------

  .jerkbox{
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgba(250,250,250,.97);
    animation: jerkfadein .5s;
    &.close{ animation: jerkfadeout .25s; }
    a{
      color: $grey-dark; 
      font-size: 1em; 
      font-weight: 300;
      transition: background-color .5s, color .25s;
      &:hover{ 
        background: white;
        color: $grey-darker;
      }
      &.close{ 
        position: absolute; 
        top:  -1.5em;  right: -1.5em; 
        font-weight: 400;
        position: absolute;
        top: -1em; right: -1em;
        border: $grey-med 2px solid;
        border-radius: 5em;
        padding: .5em;
        line-height: .5em;
      }
      &.prev, &.next{ flex-shrink: 0; font-size: 2em; }
      &.prev{ padding: 1em .25em 1em .75em; }
      &.next{ padding: 1em .75em 1em .25em; }
    }
  }

  .jerkbox-img{
    position: relative;
    flex-shrink: 0;
    > img{
      max-width:  80vmin;
      max-height: 80vmin;
    }
  }

  .jerkbox-details{ 
    display: block;
    text-align: right;
    > li{
      font-size: 2.125vmin;
      display: inline-block;
      &:after{ content: " /"; }
      &:last-child:after{ content: none; }
    }
  }
  

  @keyframes jerkfadein {
    0%   { opacity: 0; transform: rotate(11.25deg) scale(.75); }
    33%  { transform: none; }
    100% { opacity: 1; }
  }
  @keyframes jerkfadein {
    0%   { opacity: 1;  }
    33%  { transform: rotate(-11.25deg) scale(.25); }
    100% { opacity: 0; }
  }
