//--------------------------------------------------------
//  Jerkbox lightbox
//-----------------------------------------------------

  .jerkbox{
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgba(250,250,250,.9);
    animation: fadein 300ms;
    a{
      color: $grey-darker; 
      font-size: 2em; 
      font-weight: 300;
      transition: color .125s;
      transition: background-color .5s;
      &:hover{ 
        background: white;
        color: $grey-darker;
      }
      &.close{ 
        position: absolute; 
        top:  1em;  right: 1em; 
        font-weight: 400;
      }
      &.prev, .next{ 
        background-color: $grey-light; 
        flex-shrink: 0; 
      }
      &.prev{ padding: 1em .25em 1em .75em; }
      &.next{ padding: 1em .75em 1em .25em; }
    }
  }

  .jerkbox-img{
    position: relative;
    flex-shrink: 0;
    .close{
      position: absolute;
      top: -1em; right: -1em;
      font-size: 1em;
      background-color: $grey-light;
      border: $grey-med 2px solid;
      border-radius: 5em;
      padding: .5em;
      line-height: .5em;
      cursor: pointer;
    }
    > img{
      max-width:  80vmin;
      max-height: 80vmin;
    }
  }

  .jerkbox-details{ 
    display: block;
    > li{
      text-align: right;
      font-size: 2.25vmin;
      display: inline-block;
      &:after{ content: " /"; }
      &:last-child:after{ content: none; }
    }
  }
  

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
