//
// Pull the typography and color information out of this. 
//

section.admin{

  max-width: $cols12;
  margin: 0 auto;

  font-size: 1em;
  color: $grey-darker;
  background: white;
  padding: 0 1em 1em;
  border: 1px $grey-med solid;
  border-radius: 6px;

  h1{ font-size: 2em; line-height: 1.5em;  }
  h2{ font-size: 1.25em; line-height: 1.25em; }

  ul{ padding: 0 1em 1em; }

  a{
    color: $blue;
    &.logout{ 
      display: block;
      color: $pink; 
      text-align: right; }
  }


  table{
    margin-bottom: 1em;
    width: 100%;
    text-align: left;
    background: white;
    border: 1px solid $grey-med;
    tr.gray td:first-child{ background: #f5f5f5; color: $grey-med;}
    td, th{ 
      padding: .25em;
      border-bottom: 1px $grey-light dotted;
      border-top: 1px solid #ddd;
      padding: 4px 8px;
      vertical-align: middle;
    }
    th{
      color: $grey-darker;
      background: $grey-light;
      font-size: 1.125em;
      &.category{ text-align: center; }
    }
    td{ font-size: .9em; }
    td.actions {
      width: 1px;
      white-space: nowrap;
    }
  }
 
  fieldset{
    background: $grey-light;
    padding: 1em;
  }

  label{
    display:block;
  }

  input, select{ margin-bottom: 1em; font-size: 1.25em; }

  fieldset input{
    display: block;
    width: 100%;
    padding: .25em;
    &[type=file]{
      width: $cols4;
      width: 100%;
    }
  }

  .field.checkbox { 
    label, input{
      display: inline; 
      width: 20px; }
  }

  div.actions{
    font-size: 1.125em;
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: 1em;
    > a, > input[type=submit]{
      font-size: 1em;
      border: none;
      border-radius: .125em;
      color: white;
      background: $blue;
      padding: .5em 1em;
      margin: 0;
      height: auto;
      line-height: 1.125em;
      &:hover{
        background: #3cb0fd;
        text-decoration: none;
      }
      &.delete{ color: red; }
    }
  }

  td.actions{
    background: $grey-light;
    a.delete{ 
      display: block;
      color: red;
    }
  }

}






//---------------------------------------------------------------------------------------------
//  Cropper
//---------------------------------------------------------------------------------------------
  
  #crop-holder{ display: block; }

  #crop-preview{
    position: absolute;
    top: 0;
    right: 0;
    width:180px; 
    height:180px;
    overflow:hidden;
    border: 3px solid rgba(0,0,0,.5);
  }

  .crop-holder{ 
    width: 950px;
    margin: 0 auto;
    > img{ width: 950px;}
  }



//---------------------------------------------------------------------------------------------
//  Media Queries
//---------------------------------------------------------------------------------------------
  
  @media (max-width: $cols9 ){
    section.admin .year,
    section.admin .medium,{
      display:none;
      width:0;
      height:0;
      opacity:0;
      visibility: collapse;       
    } 
  }