//
// Pull the typography and color information out of this. 
//

section.admin{

  background: #fcfcfc;
  padding: 1em;

  h1{ font-size: 2em; line-height: 1.5em;  }
  h2{ font-size: 1.5em; line-height: 1.25em; }

  table{
    width: 100%;
    text-align: left;
    background: white;
    th{
      color: $grey-darker;
      font-size: 1.125em;
    }
    td, th{ 
      padding: .25em;
      border-bottom: 1px $grey-light dotted;
    }
  }

  a{ color: $pink; }

  label{
    display: inline-block;
    width: $cols2;
  }

}