//
// Pull the typography and color information out of this. 
//

section.admin{
  color: $grey-darker;
  background: white;
  padding: 0 1em 1em;
  border: 1px $grey-med solid;
  border-radius: 2px;

  h1{ font-size: 2em; line-height: 1.5em; margin-bottom: .5em;  }
  h2{ font-size: 1.25em; line-height: 1.25em; }

  ul{ padding: 0 1em 1em; }

  table{
    width: 100%;
    text-align: left;
    background: white;
    border: 1px solid $grey-med;
    margin-bottom: 1em;
    td, th{ 
      padding: .25em;
      border-bottom: 1px $grey-light dotted;
      border-top: 1px solid #ddd;
      padding: 4px 8px;
      vertical-align: middle;
    }
    th{
      color: $grey-darker;
      background: $grey-light;
      font-size: 1.125em;
      &.category{ text-align: center; }
    }
    td{ font-size: .9em; }
  }


  a{
    color: $blue;
    &.logout{ 
      display: block;
      color: $pink; 
      text-align: right; }
  }

  label{
    display: inline-block;
    width: $cols2;
  }

}


//---------------------------------------------------------------------------------------------
//  Cropper
//---------------------------------------------------------------------------------------------
  
  #crop-holder{ display: block; }

  #crop-preview{
    position: absolute;
    top: 0;
    right: 0;
    width:180px; 
    height:180px;
    overflow:hidden;
    border: 3px solid rgba(0,0,0,.5);
  }

  .crop-holder{ 
    width: 950px;
    margin: 0 auto;
    > img{ width: 950px;}
  }



//---------------------------------------------------------------------------------------------
//  Media Queries
//---------------------------------------------------------------------------------------------
  
  @media (max-width: $cols9 ){
    section.admin .year,
    section.admin .medium,{
      display:none;
      width:0;
      height:0;
      opacity:0;
      visibility: collapse;       
    } 
  }