//---------------------------------------------------------------------------------------------
//  Layout
//---------------------------------------------------------------------------------------------

  *, *:before, *:after { box-sizing: border-box; }
  html, body { height: 100%; }
  img{ vertical-align: middle; }

  .header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    > h1{ 
      font-size: 1.5em;
      text-transform: uppercase;
      &:after{
        content: url(/assets/drip.svg);
        display: inline-block;
        width: 1em;
        position: absolute;
        margin: .125em 0 0 .25em;
      }
    }
  }

  .nav-link > a{
    text-transform: uppercase;
    font-size: .75em;
    transition: all .25s cubic-bezier(1.000, -0.195, 0.000, 1.215);
    .vowel{
      display: inline-block;
      transition: all .5s cubic-bezier(1.000, -0.195, 0.000, 1.215);
      opacity: 0;
    }
    &.current .vowel{
      opacity: 1;
    }
    &:hover .vowel{ opacity: 1; }
  }

  .container[role="main"]{
    margin: 0 auto 2em;
    min-height: 100vh;
    width: $cols3;
  }



  .footer{
    line-height: 1.5em;
    > p{
      font-size: .75em;
      text-align: right;
      margin-right: .5em;
    }
  }


#crop-holder{
  display: block;
}
#crop-preview{
  position: absolute;
  top: 0;
  right: 0;
  width:180px; 
  height:180px;
  overflow:hidden;
  border: 3px solid rgba(0,0,0,.5);
}

.crop-holder{ 
  width: 950px;
  margin: 0 auto;
  > img{ width: 950px;}
}

//---------------------------------------------------------------------------------------------
//  Media Queries
//---------------------------------------------------------------------------------------------
  
  @media (max-width: 335px ) {
    .header{
      > h1{ line-height: 1.5em; }
      margin-bottom: 1em;
    } 
    .nav-link{ text-align: center; line-height: 1em; }
  }

  @media (min-width: $cols5) { // Galaxy S5 Portrait
    .container[role="main"]{ width: $cols5; }
    .header{ line-height: 2em; }
    .nav-link{ display: inline;
      &:after{
        content: " /";
      }
      &:last-child:after { content: none; }
    }
  }

  @media (min-width: $cols6) { 
    .container[role="main"]{ width: $cols6; } 
  }

  @media (min-width: $cols9) { // Galaxy S5 Landscape
    .container[role="main"]{ width: $cols8; }
    .header{ flex-direction: row; margin-bottom: 1em; }
    .header > h1{ transform: translateX(-$gutter) }
  }

  @media (min-width: $cols10) { .container[role="main"]{ width: $cols9; } }

  @media (min-width: $cols17) { // MBP 13" Fullscreen
    .container[role="main"]{ width: $cols16; }
  }







  // Cycle through sizes
  @for $i from 2 through 27 {
    @media screen and (min-width: ($i * ($column + $gutter) - $gutter) / $em) { 
      .container[role="main"]:before{ content: 'cols' + $i; }
    }
  }
  .container[role="main"]:before{
    position: fixed;
    top: 0; left: 0;
    padding: 0 .5em;
    color: $pink;
  }





















