//---------------------------------------------------------------------------------------------
//  Layout
//---------------------------------------------------------------------------------------------

  *, *:before, *:after { box-sizing: border-box; }
  html, body { height: 100%; }
  img{ vertical-align: middle; }

  .header{
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    > h1{ 
      // font-size: 1.5em;
      text-transform: uppercase;
    }
  }

  .nav-link > a{
    text-transform: uppercase;
    // font-size: .75em;
    transition: all .25s cubic-bezier(1.000, -0.195, 0.000, 1.215);
    .vowel{
      display: inline-block;
      transition: all .5s cubic-bezier(1.000, -0.195, 0.000, 1.215);
      opacity: 0;
    }
    &.current .vowel{
      opacity: 1;
    }
    &:hover .vowel{ opacity: 1; }
  }

  .nav-link2.insta{
    width: 1.5em;
    content: '';
    // text-indent: -10000em;
    &::before{
      content: url(https://s3.amazonaws.com/jerkfacev2/static/insta.svg);
      display: inline-block;
      width: 1em;
      position: absolute;
      margin: .125em 0 10em 0;
      font-size: 1.75em;
    }
  }

  h2{ font-size: .5em; margin-bottom: .66em; color: $grey-med; }

  .container[role="main"]{
    margin: 0 auto;
    width: $cols3;
    position: relative;
  }

//---------------------------------------------------------------------------------------------
//  Media Queries
//---------------------------------------------------------------------------------------------
  
  @media (max-width: 335px ) {
    .header{
      > h1{ line-height: 1.5em; }
      margin-bottom: 1em;
    } 
    .nav-link{ text-align: center; line-height: 1em; }
  }

  @media (min-width: $cols5) { //             Galaxy S5 Portrait
    .container[role="main"]{ width: $cols5; }
    .header{ line-height: 2.5em; }
    .nav-link{ 
      display: inline;
      // &:after            { content: " /"; }
      // &:last-child:after { content: none; }
      // &.no-slash:after   { content: none; }
    }
    img.nav-link{
      height: 1.75em;
    }
  }

  @media (min-width: $cols6) { //             iPhone 6+
    .container[role="main"]{ width: $cols6; } 
  }

  @media (min-width: $cols9) { //             Galaxy S5 Landscape
    .container[role="main"]{ width: $cols8; }
    .header{ 
      flex-direction: row; 
      h1{ padding-left: 2.5em; }
      &:before{
        content: url(https://s3.amazonaws.com/jerkfacev2/static/donut.svg);
        display: inline-block;
        width: 1em;
        position: absolute;
        margin: .125em 0 10em 0;
        font-size: 1.75em;
      }
    }
    // .header > h1{ transform: translateX(-$gutter) }
  }

  @media (min-width: $cols10) { .container[role="main"]{ width: $cols9;  } }
  @media (min-width: $cols13) { .container[role="main"]{ width: $cols12; } }
  @media (min-width: $cols15) { .container[role="main"]{ width: $cols14; } }
  @media (min-width: $cols18) { .container[role="main"]{ width: $cols16; } }

  // Cycle through sizes
  // @for $i from 2 through 27 {
  //   @media screen and (min-width: ($i * ($column + $gutter) - $gutter) / $em) { 
  //     .container[role="main"]:before{ content: 'cols' + $i; }
  //   }
  // }
  // .container[role="main"]:before{
  //   position: fixed;
  //   top: 0; left: 0;
  //   padding: 0 .5em;
  //   color: $pink;
  // }


